<p id="notice"><%= notice %></p>

<% unless @lat_lng %>
<script>
  getGeoLocation();
 // location.reload(); //Refreshes the page
</script>
<% end %>

<h1>Listing Locations</h1>
<%= image_tag "image.png", class: 'img-responsive' %>
<%= render 'spot' %>
    <% @locations.each do |location| %>
        <div class="panel panel-default">
           <div class="panel-heading clearfix">
              <% if @admin %>
                 <div class="btn-group pull-right" role="group">
                    <% word = ['Annihilate', 'Purge', 'Destroy', 'Eliminate', 'Revoke Existence', 'Delete'] %>

                    <%= link_to 'Edit', edit_location_path(location) , class: "btn btn-default" %>
                    <%= link_to word.sample , location, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-default"%>
                 </div>
              <% end %>
              <h3 class="panel-title" <%= 'style="padding-top:7.5px"' if @admin %>><%= location.name  %>
              </h3>
           </div>
           <div class="panel-body">
              <%= location.address %>
	      <% if @lat_lng && !@admin %>
	         <br><%=location.distance_to(@lat_lng).round(1) %> miles
              <% end %>

              <% if @admin%>
                 <br><%= location.verified ? "Verified" : "Unverified"%>
              <% end %>
              <%= link_to 'Show', location , class: "btn btn-default" %>
             </div>
          </div>
       <% end %>
<p> Powered By Google </p>
<p><%= link_to 'New Location', new_location_path, class: "btn btn-default" %></p>
