<p id="notice"><%= notice %></p>
<% require 'uri' %>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
  <%= @location.name %>
</h4>
</div>
<div class="panel-body">
<blockquote>
  <%= @location.address %>
<br>
<% unless  @location.phone_number.nil? || @location.phone_number == '' %>
  <%= @location.phone_number %><br>
<% end %>
  <a href="<%= @location.link%>" target="_blank">
  Website
  </a>
</blockquote>
<ul class="list-group">
  <% Date::DAYNAMES.each do |key| %>
      <% if @location.hours[key] %>
      <li class="list-group-item">
        <strong><%= key %></strong>
        <%=@location.hours[key] %> <br>
	</li>
      <% end %>
  <% end %>
</ul>
<% if @location.notes && @location.notes !=  "" %>
<div class="well">
<%= @location.notes %>
</div>
<%end%>
</div>
<div class="panel-footer embed-responsive embed-responsive-16by9">
<iframe
  class="embed-responsive-item"
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAZkSzCWyd6DAuDMNNOTefmoxENEEdR1nI
    &q=<%=URI.escape(@location.address)%>" allowfullscreen>
</iframe>
</div>
</div>
<%= link_to 'Back', locations_path, class: "btn btn-default"%>
